/* MOBILE AND GLOBAL STYLES */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300&display=swap");

html,
body,
h1 {
  margin: 0;
  padding: 0;
  font-weight: 100;
}

/* html {
  overflow: hidden;
} */

body {
  background: #000;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;

  /* border-bottom: 0.1em solid #ffffff85; */
}
a:hover {
  color: rgba(255, 255, 255, 0.527);
}

a img {
  transition: filter 0.4s;
}
a img:hover {
  filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.8));
}
nav div a img:hover {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 1));
}

p {
  margin: 0;
}

/* ############### FLOATING HEADER ############################## */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  z-index: 1;

  opacity: 1;
  transition: opacity 2.5s;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

header img {
  width: calc(25px + 0.5vw);
  padding: 1.3em;
}

/* ########## PARRALAX SCROLLING EFFECT ############### */

.parallax {
  perspective: 4px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
}
.parallax-foreground {
  transform: translateZ(0);
}
.parallax-background {
  transform: translateZ(-25px) scale(6);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes bgIn {
  from {
    transform: translate(140%, -150%);
  }
  to {
    transform: translate(11%, 22%);
  }
}

.logo-background {
  transform: translate(11%, 22%);
  animation: bgIn 1.5s cubic-bezier(0, 0, 0, 1);
}
#toxic-logo-2 {
  animation: none;
  opacity: 30%;
}

/* ###################### NAV ############################## */

nav {
  position: absolute;
  z-index: 99;
  left: -100vw;
  transition: left 0.4s;

  display: flex;

  width: 100vw;
  height: 100vh;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

nav div {
  width: 70%;
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

nav div a {
  width: 100%;
}

nav div a h1 {
  padding: 0.5em;
  font-size: calc(23px + 1.5vw);
}

#social-media-icons {
  width: 100%;
  padding: 0;
  margin-top: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

#social-media-icons a {
  display: flex;
  justify-content: center;
}

#social-media-icons a img {
  width: 1.5em;
}

#close-area {
  width: 40%;
}

.drawer-out {
  left: 0;
}

/* ##################### MAIN CONTENT ####################### */

section p {
  width: 80vw;
}

section div,
section p {
  transition: opacity 1s;
}

input[pseudo="-internal-media-controls-overflow-button"] {
  display: none;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

article {
  padding-bottom: 30vh;
  display: flex;
  flex-direction: column;
}

.first-view {
  margin-bottom: 20vh;
}

.main-title {
  padding: 26vh 0vh 55vh 0vh;

  opacity: 1;
  transition: opacity 2.5s;
}

.main-title2 {
  opacity: 1;
  transition: opacity 2.5s;
  margin: 15vh 0;
}

.video-block {
  margin-bottom: 35vh;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.video-block img {
  width: 100%;
}

.embed-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 1em 0;
}

h1 {
  font-size: calc(30px + 1.5vw);
  text-shadow: 0px 0px 4px #fff, 0px 0px 16px #fff;
  text-align: center;
}

figure img {
  width: 87%;
  padding: 0.5em 0;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-bottom: 12em;
}

article p {
  text-align: center;
  padding: 1.5em 0;
}

#performance {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

section > object,
section > h1 {
  opacity: 1;
  transition: opacity 1s;
  margin-bottom: 5vh;
  width: 100%;
}

#paragraph1 {
  margin-top: 30vh;
}

.sub-title {
  opacity: 1;
  transition: opacity 1s;
  padding-bottom: 11vh;
}

.img-in-block {
  opacity: 1;
  transition: opacity 1s;
}

#next-page-button {
  padding-bottom: 13em;
}

#next-page-button h1 {
  padding: 0;
}

#next-page-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding: 0;
}

@keyframes bobRight {
  0% {
    left: 0;
  }
  50% {
    left: 1.5em;
  }
  100% {
    left: 0;
  }
}

#next-page-button a img {
  position: relative;
  width: 3em;
  padding: 0;
  transform: rotate(-90deg);
  animation: bobRight 2s infinite;
}

.main-title3 {
  margin-top: 15vh;
}

#social-media {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  grid-row-gap: 3em;
  width: 100%;
  margin: 5vh 0;
}

#social-media a img {
  width: 5.5em;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}

.content {
  box-sizing: border-box;
  width: 85%;
  transition: opacity 2s;
}

.content a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.content a h1 {
  font-size: 2em;
}

.textbox {
  background-color: rgba(43, 43, 43, 0.65);
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0.5em;
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  transition: box-shadow 0.2s;
  transition: background-color 0.2s;
}

form textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 20vh;
}

.textbox:focus {
  box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.79);
  background-color: rgb(0, 0, 0, 0.65);
}

input[type="submit"] {
  width: 100%;
  background-color: rgb(43, 43, 43);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0.15em;
  transition: background-color 0.3s;
}
input[type="submit"]:hover {
  background-color: rgb(24, 24, 24);
}

/* ################################## FOOTER ########################### */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer p {
  margin-bottom: 1em;
}

footer p a {
  border-bottom: 0.1em solid #ffffff85;
}

#copyright {
  font-size: 0.9em;
}

#icon-credit {
  font-size: 0.7em;
}

/* ###################### MISCELLANEOUS #################### */

@keyframes bobUpDown {
  0% {
    top: 0;
  }
  50% {
    top: 3em;
  }
  100% {
    top: 0;
  }
}

.down-arrow {
  width: 1.5em;
  padding: 0;
  opacity: 1;
  transition: opacity 1s;

  position: relative;
  top: 0;
  animation: bobUpDown 4s ease-in-out infinite;
}

video {
  width: 100%;
  height: 100%;
}

.video-wrapper {
  display: flex;
  width: 80vw;
  height: 80vw;
}

.mute-unmute {
  right: 24%;
  top: 5%;
}

.play-pause {
  left: -95%;
  top: 85%;
}

.video-control {
  position: relative;
  width: 10%;
  height: 10%;
}

.fade-in {
  opacity: 0;
}

/* TABLET STYLES */

@media screen and (min-width: 600px) {
  /* ################### NAV ##################### */
  nav div {
    padding: 5vh 0 0 0;
  }
  #social-media-icons {
    padding: 1em;
  }

  /* ################# BACKGROUND ###################### */

  @keyframes bgIn600px {
    from {
      transform: translate(140%, -150%);
    }
    to {
      transform: translate(40%, 0%);
    }
  }

  .parallax-background {
    transform: translateZ(-45px) scale(11);
  }
  .logo-background {
    transform: translate(40%, 0%);
    animation: bgIn600px 1.5s cubic-bezier(0, 0, 0, 1);
  }

  /* ############### MAIN CONTENT #################### */
  main {
    width: 85%;
    margin: 0 auto;
  }

  .main-title {
    padding: 46vh 23vw 23vh 0vh;
  }

  figure {
    display: grid;
    column-gap: 25px;
    margin: 0;
  }

  figure img {
    width: 90%;
    padding: 0.5em 0;
  }

  article {
    flex-direction: row;
    justify-content: center;
  }

  article p {
    text-align: right;
    width: 40%;
    padding: 0 1.5em;
  }

  .video-wrapper {
    width: 40%;
    height: auto;
  }

  .video-block {
    display: grid;
    column-gap: 1em;
    margin-bottom: 20vh;
    align-items: center;
  }

  .video-block h1 {
    grid-column-start: span 2;
  }

  .embed-wrapper {
    /* height: 18vw; */
    margin: 0;
  }

  #paragraph2 p,
  #paragraph4 p,
  #paragraph6 p {
    order: 2;
    text-align: left;
  }
  #paragraph2 .video-wrapper,
  #paragraph4 .video-wrapper,
  #paragraph6 .video-wrapper {
    order: 1;
  }

  #bold1 {
    order: 2;
    grid-column: 2;
    align-self: end;
    justify-self: self-start;
  }
  #bold2 {
    order: 1;
    grid-row-start: span 2;
    width: 85%;
    justify-self: end;
  }
  #bold3 {
    order: 3;
    grid-column: 2;
    align-self: start;
    justify-self: self-start;
  }

  #competitive1 {
    grid-column: 1;
    justify-self: end;
    width: 83%;
  }
  #competitive2 {
    grid-column: 2;
    grid-row-start: span 2;
    justify-self: start;
  }
  #competitive3 {
    grid-column: 1;
    justify-self: end;
    width: 82%;
  }

  #fun1 {
    grid-row: 1;
    align-self: center;
    justify-self: end;
  }
  #fun2 {
    grid-row: 1;
    align-self: start;
    justify-self: start;
  }
  #fun3 {
    grid-column-start: span 2;
    align-self: start;
    justify-self: center;
  }

  #next-page-button {
    padding-bottom: 27vh;
  }
  /* ################### MISCELLANIOUS ################ */
}
/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {
  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    background: #000000;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(107, 107, 107);
    border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(85, 85, 85);
  }

  #menu-button {
    display: none;
  }

  nav {
    left: 0;
    width: 100%;
    height: auto;
    padding-bottom: 3em;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 55%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  #action-area {
    width: 100%;
    flex-direction: row;
  }
  nav div {
    padding: 0;
  }
  nav div a h1 {
    padding: 0.5em;
    font-size: 2.75vw;
  }
  #close-area {
    display: none;
  }

  main {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .main-title3 {
    margin-top: 25vh;
  }
  section {
    width: 100%;
  }
  article {
    width: 100%;
    padding-bottom: 20vh;
  }
}

@media screen and (min-width: 1300px) {
  .parallax-background {
    transform: translateZ(-45px) scale(16);
  }
  .down-arrow {
    width: 3.5em;
  }
  article p {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 2300px) {
  .parallax-background {
    transform: translateZ(-45px) scale(26);
  }
  h1 {
    font-size: 6em;
  }
  article p {
    font-size: 1.8em;
  }
  #next-page-button a img {
    width: 7em;
  }
  .down-arrow {
    width: 6.5em;
  }
}
