/* MOBILE AND GLOBAL STYLES */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

html,
body,
h1 {
  margin: 0;
  padding: 0;
  font-weight: 100;
}

/* html {
  overflow: hidden;
} */

body {
  background: #000;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

a {
  color: #fff;
}

/* ############### NAV MENU ############################## */

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  z-index: 999;

  opacity: 1;
  transition: opacity 2.5s;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

nav img {
  width: calc(25px + 1.5vw);
  padding: 1.3em;
}

/* ########## PARRALAX SCROLLING EFFECT ############### */

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
}
.parallax-foreground {
  transform: translateZ(0);
}
.parallax-background {
  transform: translateZ(-5px);
}

@keyframes bgIn {
  from {
    transform: translate(50%, -21%);
  }
  to {
    transform: translate(-34%, -21%);
  }
}

#toxic-logo {
  position: absolute;
  width: calc(1308px + 410vw + 100vh);
  transform: translate(-34%, -21%);

  animation: bgIn 2s ease-out;
}

/* ##################### MAIN CONTENT ####################### */

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  padding: 0;
}

section h1 {
  font-size: calc(30px + 1.5vw);
  text-shadow: 0px 0px 4px #fff, 0px 0px 16px #fff;
  text-align: center;
}

section img {
  width: 87%;
  padding: 0.5em 0;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-bottom: 12em;
}

.main-title {
  padding: 26vh 0vh 72vh 0vh;

  opacity: 1;
  transition: opacity 2.5s;
}

.sub-title {
  opacity: 1;
  transition: opacity 1s;
  padding-bottom: 6em;
}

.img-in-block {
  opacity: 1;
  transition: opacity 1s;
}

.fade-in {
  opacity: 0;
}

/* TABLET STYLES */

@media screen and (min-width: 500px) {
}

@media screen and (min-width: 700px) {
}

/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {
  section h1 {
    font-size: 6.5vw;
  }
}
