/* MOBILE AND GLOBAL STYLES */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300&display=swap");

html,
body,
h1 {
  margin: 0;
  padding: 0;
  font-weight: 100;
}

/* html {
  overflow: hidden;
} */

body {
  background: #000;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;

  /* border-bottom: 0.1em solid #ffffff85; */
}
a:hover {
  color: rgba(255, 255, 255, 0.527);
  transition: color 0.3s;
}

p {
  margin: 0;
}

/* ############### FLOATING HEADER ############################## */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  z-index: 1;

  opacity: 1;
  transition: opacity 2.5s;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

header img {
  width: calc(25px + 0.5vw);
  padding: 1.3em;
}

/* ########## PARRALAX SCROLLING EFFECT ############### */

.parallax {
  perspective: 4px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
}
.parallax-foreground {
  transform: translateZ(0);
}
.parallax-background {
  transform: translateZ(-25px) scale(6);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes bgIn {
  from {
    transform: translate(140%, -150%);
  }
  to {
    transform: translate(11%, 22%);
  }
}

#toxic-logo {
  transform: translate(11%, 22%);
  animation: bgIn 1.5s cubic-bezier(0, 0, 0, 1);
}

/* ###################### NAV ############################## */

nav {
  position: absolute;
  z-index: 99;
  left: -100vw;
  transition: left 0.4s;

  display: flex;

  width: 100vw;
  height: 100vh;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

nav div {
  width: 60%;
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

nav div a {
  width: 100%;
}

nav div a h1 {
  padding: 0.5em;
  font-size: calc(23px + 1.5vw);
}

#social-media-icons {
  width: 100%;
  padding: 0;
  margin-top: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

#social-media-icons a {
  display: flex;
  justify-content: center;
}

#social-media-icons a img {
  width: 1.5em;
}

#close-area {
  width: 40%;
}

.drawer-out {
  left: 0;
}

/* ##################### MAIN CONTENT ####################### */

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  padding: 0;
}

.first-view {
  margin-bottom: 20vh;
}

.main-title {
  padding: 26vh 0vh 55vh 0vh;

  opacity: 1;
  transition: opacity 2.5s;

  /* font-weight: 300;
  text-shadow: 0px 0px 4px #fff; */
}

h1 {
  font-size: calc(30px + 1.5vw);
  text-shadow: 0px 0px 4px #fff, 0px 0px 16px #fff;
  text-align: center;
}

section img {
  width: 87%;
  padding: 0.5em 0;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-bottom: 12em;
}

.sub-title {
  opacity: 1;
  transition: opacity 1s;
  padding-bottom: 6em;
}

.img-in-block {
  opacity: 1;
  transition: opacity 1s;
}

#our-story-button {
  padding-bottom: 13em;
}

#our-story-button h1 {
  padding: 0;
}

#our-story-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding: 0;
}

@keyframes bobRight {
  0% {
    left: 0;
  }
  50% {
    left: 1.5em;
  }
  100% {
    left: 0;
  }
}

#our-story-button a img {
  position: relative;
  width: 3em;
  padding: 0;
  transform: rotate(-90deg);
  animation: bobRight 2s infinite;
}
/* ################################## FOOTER ########################### */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer p {
  margin-bottom: 1em;
}

footer p a {
  border-bottom: 0.1em solid #ffffff85;
}

#copyright {
  font-size: 0.9em;
}

#icon-credit {
  font-size: 0.7em;
}

/* ###################### MISCELLANEOUS #################### */

@keyframes bobUpDown {
  0% {
    top: 0;
  }
  50% {
    top: 3em;
  }
  100% {
    top: 0;
  }
}

.down-arrow {
  width: 1.5em;
  padding: 0;
  opacity: 1;
  transition: opacity 1s;

  position: relative;
  top: 0;
  animation: bobUpDown 4s ease-in-out infinite;
}

.fade-in {
  opacity: 0;
}

/* TABLET STYLES */

@media screen and (min-width: 600px) {
  /* ################### NAV ##################### */
  nav div {
    padding: 2vh 0;
  }
  #social-media-icons {
    padding: 1em;
  }

  /* ################# BACKGROUND ###################### */

  @keyframes bgIn600px {
    from {
      transform: translate(140%, -150%);
    }
    to {
      transform: translate(40%, 0%);
    }
  }

  .parallax-background {
    transform: translateZ(-150px) scale(32);
  }
  #toxic-logo {
    transform: translate(40%, 0%);
    animation: bgIn600px 1.5s cubic-bezier(0, 0, 0, 1);
  }

  /* ############### MAIN CONTENT #################### */
  .main-title {
    padding: 46vh 23vw 23vh 0vh;
  }

  figure {
    display: grid;
    column-gap: 25px;
    margin: 0;
  }

  section img {
    width: 90%;
    padding: 0.5em 0;
  }

  #bold1 {
    order: 2;
    grid-column: 2;
    align-self: end;
    justify-self: self-start;
  }
  #bold2 {
    order: 1;
    grid-row-start: span 2;
    width: 85%;
    justify-self: end;
  }
  #bold3 {
    order: 3;
    grid-column: 2;
    align-self: start;
    justify-self: self-start;
  }

  #competitive1 {
    grid-column: 1;
    justify-self: end;
    width: 83%;
  }
  #competitive2 {
    grid-column: 2;
    grid-row-start: span 2;
    justify-self: start;
  }
  #competitive3 {
    grid-column: 1;
    justify-self: end;
    width: 82%;
  }

  #fun1 {
    grid-row: 1;
    align-self: center;
    justify-self: end;
  }
  #fun2 {
    grid-row: 1;
    align-self: start;
    justify-self: start;
  }
  #fun3 {
    grid-column-start: span 2;
    align-self: start;
    justify-self: center;
  }
}

/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {
  section h1 {
    font-size: 6.5vw;
  }
}
